registry=https://rb-artifactory.bosch.com/artifactory/api/npm/npm-repo/
//rb-artifactory.bosch.com/artifactory/api/npm/npm-repo/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJnMzR0ZXRQV1R6cVZRZGFRRTI2eEhrOE5HZFhkZnI1VVMzc0VKcXloV1JJIn0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2NcL3VzZXJzXC9jdDY3Y2EiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOioiLCJhdWQiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2MiLCJpc3MiOiJqZi1hcnRpZmFjdG9yeUBmNmYyNDhhOC00YzdjLTQ1YjgtYmU4Ny03MzExYzM1MGI5M2NcL3VzZXJzXC9jdDY3Y2EiLCJpYXQiOjE2OTE1MjE4MTMsImp0aSI6IjU2NTRkOTg5LTFjMTgtNDNkNS05N2IyLTAxYmM3YjUzODEzYSJ9.hGzQsxPlnPp3Lhnq8NaYu1wfNKVqu_ciKczlcLTJv_oTW2yg3l8PbV4kDXO-bDMTTXn_GHv0V8_QBbr0lQgBw0qbaLJIqFArOdowmCgorX9WK2aVfVim69j6r_Ph1Gwb3VAQknzwigRaB3zicPUcLSmJQdAsDzjGJ-LlCf9Z9bGHgl3ywedcTTXL0Q3ubiBQ2prWdd6i1S3Fpw9hUkrLLDpWzLe7Y0-v_hX7ZhU_maMT9BC_70qIj9gM6sqhrBCHZWFDXYSyPa-4qU7WOW4A_r3_MpxJoC4v3sdHFFanqWVz4FR_es2aaACK592nhiARZxNxeONFGAol2pnI8MwNDQ
